{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block content %}

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center"
             data-background="{% static 'img/hero/category.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{% trans "Blog" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ post.image.url }}" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ post.created_at|date:"d" }}</h3>
                                        <p>{{ post.created_at|date:"M" }}</p>

                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="{% url 'blog:blog_detail' post.slug %}">
                                        <h2>{{ post.title }}</h2>
                                    </a>
                                    <p>{{ post.description|truncate_words:10 }}...</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i> {{ post.tag.name }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> {{ post.comment_count }} Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <!-- Previous Page -->
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ posts.previous_page_number }}" class="page-link"
                                           aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                <!-- Page Numbers -->
                                {% for page_num in posts.paginator.page_range %}
                                    <li class="page-item {% if page_num == posts.number %}active{% endif %}">
                                        <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                                    </li>
                                {% endfor %}

                                <!-- Next Page -->
                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ posts.next_page_number }}" class="page-link"
                                           aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="search"
                                               placeholder="Search Keyword"
                                               value="{{ search_query|default:'' }}"
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">{% trans "Search" %}
                                </button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">{% trans "Tags" %}</h4>
                            <ul class="list cat-list">
                                {% for tag in tags %}
                                    <li>
                                        <a href="{% url 'blog:tag_list' tag.slug %}" class="d-flex">
                                            <p>{{ tag.name }}</p>
                                            <p>({{ tag.post_count }})</p>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>
                                        <p>{% trans "No tags available." %}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">{% trans "Popular posts" %}</h4>
                            <ul class="instagram_row flex-wrap">
                                {% for post in most_commented_posts %}
                                    <li>
                                        <a href="{% url 'blog:blog_detail' post.slug %}">
                                            <img class="img-fluid" src="{{ post.image.url }}" alt="post">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">{% trans "Newsletter" %}</h4>

                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">{% trans "Subscribe" %}
                                </button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}